.site-header {
    border-top: 0px;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.blog-post {
.h1{
display: block;
@include relative-font-size(1.625);
}
}
